* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url('https://bit.ly/4bcK1Hc');
    background-size: cover;
    font-family: 'Arial', sans-serif;
    height: 100vh;
  }
  main {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 80%;
    max-width: 600px;
    margin: 20vh auto;
    padding: 20px;
    border-radius: 10px;
  }
  #search, #submit {
    padding: 10px;
    font-size: 16px;
  }
  #submit {
    cursor: pointer;
  }
  #weather-data {
    margin-top: 20px;
  }
  